# Build products
/panorama
/panorama-app
/panorama-tile-gen
/obj/
/compile_commands.json
/benchmark-results/

# Elevation data
*.ptile*
*.tif
*.bin
*.hgt
*.zip
*.asc
*.asc.aux.xml
*.gml
*.prj
*.xml

# Image data
*.png
*.gif
*.mp4
*.jpeg
*.jpg

# clangd caching
.cache/

# debugging files
*.trace
*.gputrace

# Scratch space/Python
__pycache__/
panorama-python

# Xcode user-specific files
xcuserdata/
*.xcuserstate
