# Build products
/panorama
/obj/
/compile_commands.json

# Input data
data/

# Image data
*.tif
*.png
*.gif
*.mp4
*.jpeg
*.jpg

# clangd caching
.cache/

# debugging files
*.trace
*.gputrace

# Scratch space
panorama-python

# Xcode user-specific files
xcuserdata/
*.xcuserstate
